<div id="clogin">
    <div class="cForm">
        <h1 class="left_elm center"> 
          Instagram Clone
        </h1>
        <%= render 'login' %>
    </div>
     <div class="new">
      <p>Vous n’avez pas de compte  ?</p>
      <%= link_to "Inscrivez-vous", new_user_path %>
    </div>
</div>