/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: white;
    box-shadow: 10px 0 5px -2px #888;
    margin: 0;
}

.left_elm {
    float: left;
    font-family: 'Dancing Script';
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.cBtn {
    width: 170px;
    height: 50px;
    background-color: #0095F6;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8 ease-in-out;
    margin-right: 20px;
    font-family: 'Poppins';
}

.cBtn:hover {
    opacity: 0.8;
}

header .right_elm {
    float: right;
    display: flex;
    margin-top: 18px;
}

.cVert {
    background-color: green;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.cForm {
    width: 350px;
    border-radius: 10px;
    margin: 90px auto;
    box-shadow: 5px 2px 8px -1px #888;
}

.center {
    margin: 20px 20px 30px 80px;
}

.labelForm {
    display: block;
    font-family: 'Poppins';
}

.inputForm {
    margin: 0;
    width: 256px;
    height: 38px;
    margin: 0 30px 20px 40px;
}

.bSubmit {
    width: 268px;
    height: 30px;
    background-color: #0095F6;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 0 20px 20px 35px;
    cursor: pointer;
}

.or {
    display: flex;
    margin: 0 40px 0 40px;
}

.cHr {
    display: inline;
    width: 120px;
    height: 1px;
    background-color: grey;
    margin-top: 7px;
}

h5 {
    margin: 0 5px 0 5px;
    color: grey;
    font-family: 'Poppins';
}

.connect {
    display: flex;
    margin: 20px 30px 20px 30px;
}

.connect p {
    color: #385185;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 0 0 10px 10px;
}

.connect img {
    width: 24px;
    height: 24px;
}

#login>p {
    color: #00376B;
    margin: 0 100px 0 100px;
    cursor: pointer;
}

.new p {
    margin-right: 5px;
    font-family: 'Poppins';
    font-size: 13px;
}

.new {
    display: flex;
    margin-top: 10px;
    width: 350px;
    height: 63px;
    background-color: white;
    box-shadow: 5px 2px 8px -1px #888;
    border-radius: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.new a {
    color: #0095F6;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 0;
}

.newForm {
    width: 348px;
    background-color: white;
    box-shadow: 5px 2px 8px -1px #888;
    margin: 0 auto;
}

.leftSpace {
    margin-left: 40px;
}