/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: white;
    box-shadow: 10px 0 5px -2px #888;
    margin: 0;
}

.left_elm {
    float: left;
    font-family: 'Dancing Script';
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.cBtn {
    width: 170px;
    height: 50px;
    background-color: #0095F6;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8 ease-in-out;
    margin-right: 20px;
    font-family: 'Poppins';
}

.cBtn:hover {
    opacity: 0.8;
}

header .right_elm {
    float: right;
    display: flex;
    margin-top: 18px;
}

.cVert {
    background-color: green;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}